{{static}}
#header
{
	position: absolute;
	top:0;
	
}
#logo
{
	background-image: url("../img/logo.png");
	background-color: #ffffff;
	background-size:contain;
	width: 150px;
	height:150px;
}

#company_name
{	
	background-color: #ffffff;
	position: relative;
	color: #0000ff;
	text-align: left;
	height: 150px;
}
#body-container
{
	padding-top: 50px;
	padding-bottom: 50px;
}

#login-box
{
	vertical-align: middle;
	width: 350px;
	background-color: rgba(255,255,255,0.1);
	text-align: center;
	height : 300px;
	color: ffffff;
	margin-top: 100px;
	padding-top: 100px;
}
#login-box input
{
	background-color: transparent;
	color: #ffffff;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border-color: #ffffff;
}
#footer
{
	position: absolute;
	bottom: 0;
	background-color: #cccccc;
	height: 150;
	text-align: center;
	padding-top: 20px;
	vertical-align: baseline;
}

.menu-item
{
	background-color: #ffffff;
	height: 150px;
	text-align: center;
	color:#ffffff;
	margin-left: 0	px;
	padding-bottom: 1px;
	padding-top: 120px;
}
.menu-item: a
{
	text-decoration: none;
	color: #0000ff;
	display: block;
}
.menu-item:hover
{
	background-color: #0000ff;

}
.menu-item:hover a
{
	color: #ffffff;
	text-decoration: none;
}
.dashboard-item
{
	background-color: #dddddd;
	height: 150px;
	width: 200px;
	margin-left: 5px;
	margin-top: 50px;
	float: left;
}
.body-content
{
	width:100%;
	margin-top: 150px;
}
.display-none
{
	display: none;
}
div.data-table
{
	border: 1;
	background-color: #transparent;
	height:500px;
	width: 100%;
}

.data-table table
{
	width:100%;
	text-align: center;
}
.data-table tr
{
	height: 30px;
}

.data-table tr:nth-child(even)
{
	background-color: #aaaaaa;
}
.data-table tr:nth-child(odd)
{
	background-color: #bbbbbb;
}
.overflowy
{
	overflow-y:scroll;
}

body
{
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
form 
{
	color: #00ff56;
}
