<head>
<script type="text/javascript">
function myFunction() 
{
    var x = document.getElementById('{{form.reciept.id_for_label}}').value;
    var y = ""
    var js_reciept_title = [""];
    var js_reciept_service_fees = [""];
    var js_reciept_ass_bank_acc = [""];
   

    
    {% for r in recieptDetails %}

    js_reciept_title.push('{{r.reciept_title}}');
    js_reciept_service_fees.push({{r.service_fees}});
    js_reciept_ass_bank_acc.push('{{r.ass_bank_acc}}');
   
 	{% endfor %} 
    var i;
    for(i=1;i<=js_reciept_title.length;i++)
    {	
    	if(x==js_reciept_title[i])
    	{
    	document.getElementById('{{form.service_fees.id_for_label}}').value = js_reciept_service_fees[i];	
    	document.getElementById('{{form.bank_acc.id_for_label}}').value = js_reciept_ass_bank_acc[i];	
    	}
    }
}

function findTotal()
	{
	
	var x = parseFloat(document.getElementById('{{form.payment_fees.id_for_label}}').value);	
	var y = parseFloat(document.getElementById('{{form.service_fees.id_for_label}}').value);	
	document.getElementById('form_total').innerHTML = "Total Amount Rs " + (x+y) ;	
	}

</script>
</head>
Accounts Entry Form
<br>

<table border =1>
<tr>
<td>Date</td>
<td>Time</td>
<td>Reciept</td>
<td>Bank Account</td>
<td>Payment Fees</td>
<td>Service Fees</td>
<td>Customer Name</td>
<td>Username</td>
<td>Password</td>
<td>Contact No</td>
<td>Total Fees</td>
<td>Remark</td>
<td>Staff</td>
</tr>
{% for reciept in allReciept %}
<tr>
<td>{{reciept.date}}</td>
<td>{{reciept.time}}</td>
<td>{{reciept.reciept}}</td>
<td>{{reciept.bank_acc}}</td>
<td>{{reciept.payment_fees}}</td>
<td>{{reciept.service_fees}}</td>
<td>{{reciept.customer_name}}</td>
<td>{{reciept.username}}</td>
<td>{{reciept.password}}</td>
<td>{{reciept.contact_no}}</td>
<td>{{reciept.total_fees}}</td>
<td>{{reciept.remark}}</td>
<td>{{reciept.staff}}</td>
</tr>
{% endfor %}
</table>
<br>
<table border =1> 
{% for q in recieptDetails %}
<tr>
<td>{{q.id}}</td>
<td>{{q.reciept_title}}</td>
<td>{{q.service_fees}}</td>
<td>{{q.ass_bank_acc}}</td>
</tr>
{% endfor %}
</table>

<form action='' method='post'>
{% csrf_token %}
{{form.reciept.label_tag}}
{{form.reciept}}
<br>
{{form.bank_acc.label_tag}}
{{form.bank_acc}}
<br>
{{form.payment_fees.label_tag}}
{{form.payment_fees}}
<br>
{{form.service_fees.label_tag}}
{{form.service_fees}}
<br>
{{form.customer_name.label_tag}}
{{form.customer_name}}
<br>
{{form.username.label_tag}}
{{form.username}}
<br>
{{form.password.label_tag}}
{{form.password}}
<br>
{{form.contact_no.label_tag}}
{{form.contact_no}}
<br>

<p id='form_total'>
Total Amount Rs 0.00
</p>
<br>
{{form.remark.label_tag}}
{{form.remark}}
<br>
<input type="submit">
</form>

