{% extends 'base.html' %}

{% block head %}
<script type="text/javascript">

function fillDummyValue()
{
document.getElementById('{{form.reciept.id_for_label}}').value='{{reciept}}';
document.getElementById('{{form.bank_acc.id_for_label}}').value='{{bank_acc}}';
document.getElementById('{{form.payment_fees.id_for_label}}').value={{payment_fees}};
document.getElementById('{{form.service_fees.id_for_label}}').value={{service_fees}};
document.getElementById('{{form.customer_name.id_for_label}}').value='{{customer_name}}';
document.getElementById('{{form.contact_no.id_for_label}}').value='{{contact_no}}';
document.getElementById('{{form.username.id_for_label}}').value='{{username}}';
document.getElementById('{{form.password.id_for_label}}').value='{{password}}';
document.getElementById('{{form.remark.id_for_label}}').value='{{remark}}';
document.getElementById('{{form.service_fees.id_for_label}}').value='{{service_on_credit}}';
document.getElementById('{{form.trans_id.id_for_label}}').value={{trans_id}};


}
function creditValidation()
{
   var total = {{amount_to_pay}}
   var collected = document.getElementById('{{form.rec_amount.id_for_label}}').value;
    if( collected > total)
    {   
        var balance = collected - total;
        alert("Rs " + balance + "greater" );
        document.getElementById('{{form.rec_amount.id_for_label}}').value=total;
    }
}


</script>

{% endblock %}

{% block body %}
{% if user.is_authenticated %}

<div class="page_title">Credit Clearance</div>
<br>
<div class="container-fluid">
<center>
    <div id="form-box" class="panel panel-primary">
        <div class="panel-heading">Reciepts</div>
        <br>
        <div class="row form-inline ">
        
        {% csrf_token %}
            


            <div class="input-group col-sm-2">
                <span class=" input-group-addon">Reciept Title </span>
                 <p class="form-control">{{reciept}} </p>
            </div>

        
            <div id="hide_bank" class="input-group col-sm-2 hid">
                <span class=" input-group-addon">Bank</span>
               <p class="form-control">{{bank_acc}} </p>
            </div>

            <div id="hide_payment" class="input-group col-sm-2 hid">
                <span class=" input-group-addon">Payment Fees</span>
                <p class="form-control">{{payment_fees}} </p>
            </div>
          


            <div class="input-group col-sm-2">
            <span class=" input-group-addon">Service Fees
            </span>
            <p class="form-control">{{service_fees}} </p>
            </div>
            <div class="input-group col-sm-3">
            <span class=" input-group-addon">Customer Name
            </span>
            <p class="form-control">{{customer_name}} </p>
            </div>
         
            
        
            <div class="input-group col-sm-2">
                <span class=" input-group-addon">User Name
                 </span>
                <p class="form-control">{{username}} </p>
            </div>
            <div class="input-group col-sm-2">
                <span class=" input-group-addon">Password Name
                </span>
                <p class="form-control">{{password}} </p>
            </div>
            <div class="input-group col-sm-2">
                <span class=" input-group-addon">Contact No
                </span>
                <p class="form-control">{{contact_no}} </p>
            </div>
            
                        
            

            <div class="input-group col-sm-3">
                <span class=" input-group-addon">Remark
                </span>
                <p class="form-control">{{remark}} </p>
            </div>

    <form action="../" method="POST" class="">
    {% csrf_token %}
            
            
            <div class="col-sm-4">
          
            </div>
         
            <div id="btn-grp" class="col-sm-2">
                <div class="panel panel-info">
                    <div class="panel-heading"><p>Total</p></div>
                    <h4 id="form_total">Rs {{total_fees}}</h4>
                </div>
            </div>

            <div id="btn-grp" class="col-sm-2">
                <div class="panel panel-danger">
                    <div class="panel-heading"><p>Amount to Pay</p></div>
                    <h4 id="form_total">Rs {{amount_to_pay}}</h4>
                </div>
            </div>     
         
            <div class="col-sm-2">
                <center>
                <span class=" input-group-addon"><h4>Amount Paid</h4>
                {{form.rec_amount}}
                 {{form.trans_id}}
                </span>
                </center>
                
            </div>

            <div id="btn-grp"  class="col-sm-2">
                 <center>
                     <input type="submit" class="btn btn-success">
                    <a href="/accounts/close/{{date}}">
                        <button class="btn btn-danger" type="button">Close Accounts</button>
                    </a>
                </center>
            </div>


    </from>
        
       
    </div><!--form box-->
    
    
    
</center>

<center>

<div id="creditors-table" class="panel panel-danger ">
        <div class="panel-heading ">Creditors List</div>
          <div class="panel-body">
         <table>
                <tr>
                    <th>Si No</th>
                    <th>Transation ID</th>
                    <th>Date</th>
                    <th>Reciept</th>
                    <th>Customer Name</th>
                    <th>Contact No</th>
                    <th>Total Fees</th>
                    <th>Amount to Pay</th>
                    <th>Remark</th>
                    
                </tr>
                {% for credit in credit_list %}
                <tr>
                    <td>{{forloop.revcounter}}</td>
                    <td><a href="../{{date}}/{{credit.id}}">{{credit.id}}</a></td>
                    <td>{{credit.date}}</td>
                    <td>{{credit.reciept}}</td>
                    <td>{{credit.customer_name}}</td>
                    <td>{{credit.contact_no}}</td>
                    <td>{{credit.total_fees}}</td>
                    <td>{{credit.amount_to_pay}}</td>
                    <td>{{credit.remark}}</td>
                </tr>
                {% endfor %}
         </table>




          </div>
          </div>
</center>

{{form.reciept.as_hidden}}
{{form.bank_acc.as_hidden}}
{{form.payment_fees.as_hidden}}
{{form.service_fees.as_hidden}}
{{form.customer_name.as_hidden}}
{{form.contact_no.as_hidden}}
{{form.username.as_hidden}}
{{form.password.as_hidden}}
{{form.remark.as_hidden}}
{{form.service_fees.as_hidden}}


{% endif %}
{% endblock %}