{% extends 'base.html' %}

{% block head %}
<script type="text/javascript">

function findTotal()
	{
	
	var x = parseFloat(document.getElementById('{{form.charge.id_for_label}}').value);	
	document.getElementById('form_total').innerHTML = "Total Amount<br>Rs: " + (x) ;	
	}

</script>
{%endblock %}



{% block body %}
<div class="page_title">Accounts Entry Form</div>
<br>
<div id="data_form">
	<form action='' method='post'>
	{% csrf_token %}
		<div class="col-sm-2 form_element">
			Reciept Title
			<br>
			{{form.reciept}}
		</div>
		<div class="col-sm-2 form_element ">
			Bank Account
			<br>
			{{form.bank_acc}}
		</div>
		<div class="col-sm-2 form_element">
			Charge
			<br>
			{{form.charge}}
		</div>
		<div class="col-sm-2 form_element" id='form_total'>
			Total Amount<br>Rs: 0.00
		</div>
		<div class="col-sm-2 form_element">
			<input type="submit">
		</div>
		<div class="col-sm-2 close_account form_element">
			<a href="/accounts/close/{{date}}">Close Accounts</a>
		</div>
	</form>
</div>
<br>
<br>
{% if allReciept.count > 6%}
<div class="data-table overflowy">
{% else %}
<div class="data-table">
{% endif %}
<table border =1>
<tr>
<th>Si No</th>
<th>Transation ID</th>
<th>Date</th>
<th>Time</th>
<th>Reciept</th>
<th>Bank Account</th>
<th>Charge</th>
<th>Remark</th>
<th>Staff</th>
</tr>
{% for reciept in allReciept.reverse %}
<tr>
<td>{{forloop.revcounter}}</td>
<td>{{reciept.id}}</td>
<td>{{reciept.date}}</td>
<td>{{reciept.time}}</td>
<td>{{reciept.reciept}}</td>
<td>{{reciept.bank_acc}}</td>
<td>{{reciept.charge}}</td>
<td>{{reciept.remark}}</td>
<td>{{reciept.staff}}</td>
</tr>
{% endfor %}
</table>
<br>
<table border =1> 
{% for q in recieptDetails %}
<tr>
<td>{{q.id}}</td>
<td>{{q.reciept_title}}</td>
<td>{{q.service_fees}}</td>
<td>{{q.ass_bank_acc}}</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
