{% extends 'base.html' %}
{% block head %}
<script type="text/javascript">

function myFunction()
{   

    var js_selected_reciept = document.getElementById('{{form.reciept.id_for_label}}').options[document.getElementById('{{form.reciept.id_for_label}}').selectedIndex].text;

    var js_reciept_title = [""];
    var js_reciept_service_fees = [""];
    var js_reciept_ass_bank_acc = [""];
    var js_reciept_ass_fees = [""];

    {% for r in recieptDetail %}

        js_reciept_title.push('{{r.reciept_title}}');
        js_reciept_service_fees.push({{r.service_fees}});
        js_reciept_ass_bank_acc.push('{{r.ass_bank_acc}}');
        js_reciept_ass_fees.push({{r.ass_fees}});
   
    {% endfor %} 
    var js_bank_list =[""]
    {% for s in bankDetails %}
        js_bank_list.push('{{s.bank_name}}')
    {% endfor %}

    var i;
    for(i=1;i<=js_reciept_title.length;i++)
    {
        if(js_selected_reciept == js_reciept_title[i])
        {   
            
            if(js_reciept_ass_bank_acc[i] == 'None')
            {
            document.getElementById('hide').style.display='none';
            }
            else
            {
            document.getElementById('hide').style.display='block';
            }
            
            document.getElementById('{{form.service_fees.id_for_label}}').value = js_reciept_service_fees[i];
            document.getElementById('{{form.payment_fees.id_for_label}}').value = js_reciept_ass_fees[i];  
            document.getElementById('{{form.bank_acc.id_for_label}}').value=js_bank_list.indexOf(js_reciept_ass_bank_acc[i]);
        }
    }
}

function findTotal()
{
	var x = parseFloat(document.getElementById('{{form.payment_fees.id_for_label}}').value);	
	var y = parseFloat(document.getElementById('{{form.service_fees.id_for_label}}').value);	
	document.getElementById('form_total').innerHTML = "Rs. " + (x+y) ;
    return x+y;
}

function creditField()
{ 
    if(document.getElementById('{{form.service_on_credit.id_for_label}}').checked==true)
    {
        document.getElementById('amount_paid').classList.remove('display-none');
        document.getElementById('{{form.rec_amount.id_for_label}}').value=0;
    }
    else
   {    
        document.getElementById('{{form.rec_amount.id_for_label}}').value=findTotal();
        document.getElementById('amount_paid').classList.add('display-none');     
   }
}

function creditValidation()
{
   var total = findTotal();
   var collected = document.getElementById('{{form.rec_amount.id_for_label}}').value;
    if( collected > total)
    {   
        var balance = collected - total;
        alert("Rs " + balance + "greater" );
        document.getElementById('{{form.rec_amount.id_for_label}}').value=total;
    }
}


</script>

{% endblock %}



{% block body %}
{% if user.is_authenticated %}

<div class="page_title">Income Accounts Entry</div>
<br>
<div id="data_form">
    <form action='' method='post'>
        {% csrf_token %}
        <div class="col-sm-2 form_element">
            Reciept Type
            <br>
            {{form.reciept}}
        </div>
        <div id='hide'>
            <div class="col-sm-2 form_element" >
                Bank Account
                <br>
                {{form.bank_acc}}
            </div>
            <div class="col-sm-2 form_element">
                Payment Fees
                <br>
                {{form.payment_fees}}
            </div>
        </div>
        <div class="col-sm-2 form_element">
            Service Fees
            <br>
            {{form.service_fees}}
        </div>
        <div class="col-sm-2 form_element">
            Customer's Name
            <br>
            {{form.customer_name}}
        </div>
        <div class="col-sm-2 form_element">
            Customer's Username
            <br>
            {{form.username}}
        </div>
        <div class="col-sm-2 form_element">
            Customer's Password
            <br>
            {{form.password}}
        </div>
        <div class="col-sm-2 form_element">
            Customer's Contact No.
            <br>
            {{form.contact_no}}
        </div>
        
        <div class="col-sm-2 form_element">
            Remark
            <br>
            {{form.remark}}
        </div>
        <div class="col-sm-2 form_element ">
        Service on Credit
        <br>
        {{form.service_on_credit}}

            
        </div>
        <div id ="amount_paid" class="col-sm-2 form_element display-none">
        Amount Paid
        <br>
        {{form.rec_amount}}
        {{form.trans_id}}
            
        </div>
    
        <div class="col-sm-1 form_element_fixed close_account">
        
            <a href="/accounts/close/{{date}}"><b>Close Accounts</b></a>
        </div> 
        <div class="col-sm-1 form_element_fixed">
             <br>
            <input type="submit">
        </div> 


    <div class="col-sm-12 form_element_fixed">
        

        <div class="col-sm-1 form_element">
            Total Amount 
            <br>
            <h3 id='form_total'class="form_element_fixed">Rs. 0.00</h3>
        </div>

         <div class="col-sm-10 credit-table">
         <table>
                <tr>
                    <th>Si No</th>
                    <th>Transation ID</th>
                    <th>Date</th>
                    <th>Reciept</th>
                    <th>Customer Name</th>
                    <th>Contact No</th>
                    <th>Total Fees</th>
                    <th>Amount to Pay</th>
                    <th>Remark</th>
                    
                </tr>
                {% for credit in credit_list %}
                <tr>
                    <td>{{forloop.revcounter}}</td>
                    <td><a href="../{{date}}/{{credit.id}}">{{credit.id}}</a></td>
                    <td>{{credit.date}}</td>
                    <td>{{credit.reciept}}</td>
                    <td>{{credit.customer_name}}</td>
                    <td>{{credit.contact_no}}</td>
                    <td>{{credit.total_fees}}</td>
                    <td>{{credit.amount_to_pay}}</td>
                    <td>{{credit.remark}}</td>
                </tr>
                {% endfor %}
         </table>
         </div>
       

        
    </div>
    </form>
</div>

<br>
<br>
<br>
{% if allReciept.count > 6 %}
<div class="data-table overflowy">
{% else %}
<div class="data-table">
{% endif %}
<table border=1>
<tr>
<th>Si No</th>
<th>Transation ID</th>
<th>Date</th>
<th>Time</th>
<th>Reciept</th>
<th>Bank Account</th>
<th>Payment Fees</th>
<th>Service Fees</th>
<th>Customer Name</th>
<th>Username</th>
<th>Password</th>
<th>Contact No</th>
<th>Total Fees</th>
<th>Remark</th>
<th>Amount to Pay</th>
</tr>
{% for reciept in allReciept.reverse %}
<tr>
<td>{{forloop.revcounter}}</td>
<td>{{reciept.id}}</td>
<td>{{reciept.date}}</td>
<td>{{reciept.time}}</td>
<td>{{reciept.reciept}}</td>
<td>{{reciept.bank_acc}}</td>
<td>{{reciept.payment_fees}}</td>
<td>{{reciept.service_fees}}</td>
<td>{{reciept.customer_name}}</td>
<td>{{reciept.username}}</td>
<td>{{reciept.password}}</td>
<td>{{reciept.contact_no}}</td>
<td>{{reciept.total_fees}}</td>
<td>{{reciept.remark}}</td>
<td>{{reciept.amount_to_pay}}</td>
</tr>

{% endfor %}
</table>
</div>
{% endif %}
{% endblock %}
