{% extends 'base.html' %}
{% block head %}
<script type="text/javascript">
	function printAssBanks()
	{
		//document.getElementsByName('{{form.fees_associated.html_name}}')[0].checked.value;
		var fees_associated = document.querySelector('input[name="{{form.fees_associated.html_name}}"]:checked').value;
		if(fees_associated=="yes")
		{
		document.getElementById('ass_banks').style.display='block';
		}
		if(fees_associated=="no")
		{
		document.getElementById('ass_banks').style.display='none';
		}
	}
</script>
{% endblock %}

{% block body %}
<img src="{{media}}">
Receipt Details Entry
<form action="" method = "POST">
{% csrf_token %}
{{form.reciept_title.label_tag}}
{{form.reciept_title}}
<br>
{{form.service_fees.label_tag}}
{{form.service_fees}}
<br>
{{form.fees_associated.label_tag}}
{{form.fees_associated}}
<br>
<div id="ass_banks">
{{form.ass_bank_acc.label_tag}}
{{form.ass_bank_acc}}
<br>
{{form.ass_fees.label_tag}}
{{form.ass_fees}}
</div>

<input type ="submit">
</form>
{% endblock %}