{% extends 'base.html' %}
{% block head %}
<script type="text/javascript">
	function printAssBanks()
	{
		//document.getElementsByName('{{form.fees_associated.html_name}}')[0].checked.value;
		var fees_associated = document.querySelector('input[name="{{form.fees_associated.html_name}}"]:checked').value;
		if(fees_associated=="yes")
		{
		document.getElementById('ass_banks').style.display='block';
		}
		if(fees_associated=="no")
		{
		document.getElementById('ass_banks').style.display='none';
		}
	}
</script>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}

	<div class="page_title">Receipt Details Entry</div>
	<br>
	<div id="data_form">
		<form action="" method = "POST">
		{% csrf_token %}
		<div class="col-sm-2">
		Reciept Title
		{{form.reciept_title}}
		</div>
		<div class="col-sm-2">
		Service Fees
		{{form.service_fees}}
		</div>
		<div class="col-sm-2">
		Fees Associated
		{{form.fees_associated}}
		</div>
		<div id="ass_banks" class="col-sm-2">
		Associated Bank
		<br>
		{{form.ass_bank_acc}}
		</div>
		<div class="col-sm-2" id="fees_associated_radio">
		Associated Fees
		{{form.ass_fees}}
		</div>
		<div class="col-sm-2"> 
		<br>
		<input type ="submit">
		</div>
		</form>
	</div>
{% endif %}
{% endblock %}