@charset "utf-8";
/* CSS Document */

*
{
	padding:0;
	margin:0;
}
.wrap
{
	width:1200px;
	margin:0 auto;
}
span
{
	width:100px;
}
.header
{
	width:1200px;
	height:40px;
	
	margin-top:50PX;
}
.inner-header
{
	width:171.42px;
	height:40px;
	background:#06F;
	float:left;
}
.inner-header >P
{
	text-align:center;
	color:#FFF;
	padding:10px;
	
}