<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" href="CSS/UntiSTYLEtled-2.css" type="text/css" />
</head>

<body>

	<div class="wrap">
    	
         
        	<div class="header">
            	<div class="inner-header">
                	<p> sl .no </p>
                </div>
                	<div class="inner-header">
                    	<p> Date </p>
               		</div>
                    	<div class="inner-header">
                        	<p> Bank account </p>
                		</div>
                        	<div class="inner-header">
                            	<p> Service Charge </p>
                            </div>
                            	<div class="inner-header">
                                	<p> Amount </p>
                                </div>
                                	<div class="inner-header">
                                    	<p> User Name  </p>
                                    </div>
                                      	<div class="inner-header">
                                        	<p> Password </p>
                                         </div>
            </div>
                 
                 <table border="2" width="1200px >
                 		<colgroup>
                <col span="10" width="120px"  />
                </colgroup>
                	<tr>
                    	<td>
                         
                        	 <form>
                            	<input  type="text"   />
                             </span> 
                        </td>
                        <td><form>
                            	<input type="text" />
                            </form> 
                              </td>
                        <td><form>
                            	<input type="text" />
                            </form>  
                             </td>
                        <td><form>
                            	<input type="text"  />
                            </form>  
                            </td>
                        <td><form>
                            	<input type="text"  />
                            </form>  
                             </td>
                         <td><form>
                            	<input type="text" />
                            </form>  
                             </td>
                          <td><form>
                            	<input type="text"  />
                            </form>  
                             </td>
                          
                    </tr>
            </table>
            
              <table border="2" width="1200px ">
                	<tr>
                    	<td>
                        
                        	<form>
                            	<input type="text"  />
                            </form>  
                         </td>
                        <td> 
                        	<form>
                            	<input type="text"  />
                            </form> 
                         </td>
                        <td> 
                        	<form>
                            	<input type="text"  />
                            </form> 
                        </td>
                        <td>
                        	<form>
                            	<input type="text"  />
                            </form> 
                        </td>
                        <td>
                        	<form>
                            	<input type="text"  />
                            </form> 
                        </td>
                         <td>
                         	<form>
                            	<input type="text"  />
                            </form> 
                         </td>
                          <td>
                          	<form>
                            	<input type="text"  />
                            </form> 
                          </td>
                          
                    </tr>
            </table>
            
            <table border="2" width="1200px ">
                	<tr>
                    	<td>
                        	<form>
                            	<input type="text"  />
                            </form>  
                         </td>
                        <td> 
                        	<form>
                            	<input type="text"  />
                            </form> 
                         </td>
                        <td> 
                        	<form>
                            	<input type="text"  />
                            </form> 
                        </td>
                        <td>
                        	<form>
                            	<input type="text"  />
                            </form> 
                        </td>
                        <td>
                        	<form>
                            	<input type="text"  />
                            </form> 
                        </td>
                         <td>
                         	<form>
                            	<input type="text"  />
                            </form> 
                         </td>
                          <td>
                          	<form>
                            	<input type="text"  />
                            </form> 
                          </td>
                          
                    </tr>
            </table>
            
            <table border="2" width="1200px ">
                	<tr>
                    	<td>
                        	<form>
                            	<input type="text"  />
                            </form>  
                         </td>
                        <td> 
                        	<form>
                            	<input type="text"  />
                            </form> 
                         </td>
                        <td> 
                        	<form>
                            	<input type="text"  />
                            </form> 
                        </td>
                        <td>
                        	<form>
                            	<input type="text"  />
                            </form> 
                        </td>
                        <td>
                        	<form>
                            	<input type="text"  />
                            </form> 
                        </td>
                         <td>
                         	<form>
                            	<input type="text"  />
                            </form> 
                         </td>
                          <td>
                          	<form>
                            	<input type="text"  />
                            </form> 
                          </td>
                          
                    </tr>
            </table>
            
            <table border="2" width="1200px ">
                	<tr>
                    	<td>
                        	<form>
                            	<input type="text"  />
                            </form>  
                         </td>
                        <td> 
                        	<form>
                            	<input type="text"  />
                            </form> 
                         </td>
                        <td> 
                        	<form>
                            	<input type="text"  />
                            </form> 
                        </td>
                        <td>
                        	<form>
                            	<input type="text"  />
                            </form> 
                        </td>
                        <td>
                        	<form>
                            	<input type="text"  />
                            </form> 
                        </td>
                         <td>
                         	<form>
                            	<input type="text"  />
                            </form> 
                         </td>
                          <td>
                          	<form>
                            	<input type="text"  />
                            </form> 
                          </td>
                          
                    </tr>
            </table>
            
          
        	
    </div>
</body>
</html>
