{% load static %}

<!doctype html>
<html>
<head>
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<!--fonts-->
	<link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Prompt" rel="stylesheet">

	<!-- CSS Stylesheets-->
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href ="{% static 'css/bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href ="{% static 'css/style.css' %}">
	

	<!-- Javascript files-->
	<script type="text/javascript" src="{% static 'js/script.js' %}"> </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script type="text/javascript">

	function checkDate()
	{

	alert("Select Date");
	}

	function displayDate()
	{	
		var day,month,year;
		var date = new Date();
		switch(date.getDay())
		{
			case 0 : day="Sunday";
					break;
			case 1 : day="Monday";
					break;
			case 2 : day="Tuesday";
					break;
			case 3 : day="Wednesday";
					break;
			case 4 : day="Thrusday";
					break;
			case 5 : day="Friday";
					break;
			case 6 : day="Saturday";
					break;
		}

		switch(date.getMonth())
		{
			case 0 : month="January";
					break;
			case 1 : month="February";
					break;
			case 2 : month="March";
					break;
			case 3 : month="April";
					break;
			case 4 : month="May";
					break;
			case 5 : month="June";
					break;
			case 6 : month="July";
					break;
			case 7 : month="August";
					break;
			case 8 : month="September";
					break;
			case 9 : month="October";
					break;
			case 10 : month="November";
					break;
			case 11 : month="December";
					break;
		}

document.getElementById('date').innerHTML=("<span class='glyphicon glyphicon-calendar'></span><p>" + month + " " + date.getDate() + "," +date.getFullYear() + "<br>"+ day +" </p>");
	}
	</script>
	<meta charset="utf-8">

	<title>Akshaya KL 103</title>

	{% block head %}
	{% endblock %}
	
</head>
	
<body onload="displayDate();">
<div class="container-fluid">
	<div class="row">
    	<div class="header col-sm-3 " >
        	<div id="logo">
        
       		</div>

            <div id="user-details">
            	{% if user.is_authenticated %}
		        <p><b>{{user.first_name}} {{user.last_name}}</b></p>

		        	{% if user.is_superuser%}
						<p>Admin</p>
					{% elif user.is_staff %}
						<p>Staff</p>
					{% endif %}

                {% endif %}
            </div>
        </div>
        
        
        <div class="header col-sm-4" id="title">
			<h1>Akshaya KL103</h1>
       		Database Management System  
        </div>
        
        <div id="date" class="header col-sm-1">
        	<span class="glyphicon glyphicon-calendar"></span>
        	
        </div>

        <div class="header col-sm-4"> 
        	<ul>
        		{% if user.is_authenticated %}
        		<li><a href="/staffmanagement/logout">Logout</a></li>
        		<li><a href="/admin">Admin Panel</a></li>
        		<li>
        			{% if date is None %}				
						<a href="" onClick="checkDate();" >Dashboard</a>
					{% else %}					
						<a href="/staffmanagement/staffs/{{date}}">Dashboard</a>
					{% endif%}
        		</li>
        		{% else %}
        		<li><a href="/">Login</a></li>
        		{% endif %}
        	</ul>
        </div>
    </div><!--row-->
    <div class="row " style="background-color:#63B8FF; color:#fff; font-size:18px;">
    	<center>
    	{% if date %}
    		Selected Date : {{date}}
    	{% endif %}
    	</center>
    </div>
</div><!--container-->

{% block body %}
{% endblock %}

	<!--Footer Section -->
<div id="aeon" class="container">
       <h4> Designed & Developed by<br></h4>
        Aeon Creative Wings
 </div>
</body>
</html>
