{% extends 'base.html' %}

{% block body %}

DASH BOARD

{% if user.is_superuser %}

<center>
<div class="dashboard-item">
<a href="/accounts/entry/{{date}}">Income Accounts</a>
</div>

<div class="dashboard-item" >	
<a href="/accounts/outentry/{{date}}">Expense Accounts </a>
</div>
<div class="dashboard-item" >
<a href="/accounts/bankDetails/add/{{date}}">Bank Details </a>
</div>
<div class="dashboard-item" >
<a href="/accounts/recieptDetails/add/{{date}}">Reciept Details </a>
</div>
<div class="dashboard-item" >
<a href="/staffmanagement/staffs/add/{{date}}">Staff Management </a>
</div>
{% elif user.is_staff %}
<div class="col-sm-1 dashboard-item" >
<a href="/accounts/entry/{{date}}">Income Accounts </a>
</div>

<div class="dashboard-item" >	
<a href="/accounts/outentry/{{date}}">Expense Accounts </a>
</div>
</center>
{% endif %}

{% endblock %}