{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
Staff Management
<br>
<form action='' method ="POST" enctype="multipart/form-data">
{% csrf_token %}
{{form.as_table}}
<input type='submit'>
</form>
<br>
<table border=1>
<tr>
<td>Si No</td>
<td>User ID</td>
<td>Photo</td>
<td>First Name</td>
<td>Second Name</td>
<td>Username</td>
<td>Email</td>
<td>Designation</td>
<td></td>
</tr>
{% for user,userDetails in userlist %}
<tr>
<td>{{forloop.counter}}</td>
<td>{{user.id}}</td>
{% if user.username == userDetails.user %}
<td><img src="{{userDetails.profile_photo.url}}" width="100px" height="100px" alt='{{user.first_name}} pic'>
<img src="https://lh3.googleusercontent.com/VT-PqxMMsA2wPy7kzmuKGDIzaA3AGuXKExqnfOfwTEy5AvLIMTranbfNGheRr457RD4=w300" width="100px" height="100px" alt='{{user.first_name}} pic'></td>
{% endif %}
<td>{{user.first_name}}</td>
<td>{{user.last_name}}</td>
<td>{{user.username}}</td>
<td>{{user.email}}</td>
{% if user.is_superuser %}
	<td>Admin</td>
{% elif user.is_staff %}
	<td>Staff</td>
{% else %}
	<td></td>
{% endif %}
<td>edit</td>
</tr>
{% endfor %}
</table>
{% endblock %}