{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<script type="text/javascript">
{% if not user_id %}
	function confirmPassword()
	{
		
		var password1 = document.getElementById('{{form.password.id_for_label}}').value;
		var password2 = document.getElementById('{{form.confirm_password.id_for_label}}').value;
		if (password1!=password2 && (password2!=""))
		{
			alert("Passwords dont match !!");
			document.getElementById('{{form.password.id_for_label}}').value="";
			document.getElementById('{{form.confirm_password.id_for_label}}').value="";
		}
		elseif 
		{

		}
	{% endif %}	
	
	function confirmPassword2()
	{
		var password1 = document.getElementById('{{form.password.id_for_label}}').value;
		var password2 = document.getElementById('{{form.confirm_password.id_for_label}}').value;
		if(password2=="")
		{
			alert("Confirm Password Box Empty !!");
		}
	}
</script>
{% endblock %}
{% block body %}
<div class="page_title">Staff Management</div>
<br>
<div class="container-fluid">
<center>

	<div id="form-box" class="panel panel-primary">
	<div class="panel-heading">Staff Management</div>		
	<div class="row">


		<div id="data_form">
{% if user_id %}
	<form action='../' method ="POST" class="form-inline" enctype="multipart/form-data">
{% else %}
	<form action='' method ="POST"  class="form-inline" enctype="multipart/form-data">
{% endif %}
		{% csrf_token %}
		<div class="col-sm-2 input-group">
			<span class=" input-group-addon">First Name</span>
			{{form.first_name}}
			{{form.user_id}}
		</div>
		<div class="col-sm-2 input-group">
			<span class=" input-group-addon">Last Name</span>
			{{form.last_name}}
		</div>
		<div class="col-sm-2 input-group">
			<span class=" input-group-addon">User Name</span>
			{{form.username}}
		</div>

		<div class="col-sm-2 input-group">
			<span class=" input-group-addon">Password</span>
			{{form.password}}
		</div>
		<div class="col-sm-2 input-group">
			{{form.confirm_password.error}}
			<span class=" input-group-addon">Confirm Password</span>
			{{form.confirm_password}}
		</div>
		<div class="col-sm-2 input-group">
			<span class=" input-group-addon">E mail</span>
			{{form.email}}
		</div>
		<div class="col-sm-2 input-group">
			<span class=" input-group-addon">Designation</span>
			{{form.designation}}
		</div>
		<div class="col-sm-2 input-group">
			<span class=" input-group-addon">Contact No</span>
			{{form.mob}}
		</div>
		<div class="col-sm-2 input-group">
			<span class=" input-group-addon">Address</span>
			{{form.address}}
		</div>
		
		<div class="col-sm-10">
			
		</div>
		<div class="col-sm-2" id="btn-grp">
		<input type='submit' class="btn btn-success" onclick="confirmPassword2()">
		</div>
	</form>
</div>

	</div>
	</div>
</center>
</div>

<table border=1>
<tr>
<th>Si No</th>
<th>User ID</th>

<th>First Name</th>
<th>Last Name</th>
<th>Username</th>
<th>Email</th>
<th>Designation</th>
<th>Edit</th>
<th>Delete</th>
</tr>
{% for user,userDetails in userlist %}
<tr>

<br>
all user {{user}}  details {{userDetails}}
<td>{{forloop.counter}}</td>
<td>{{user.id}}</td>
<td>{{user.first_name}}</td>
<td>{{user.last_name}}</td>
<td>{{user.username}}</td>
<td>{{user.email}}</td>

{% if user.is_superuser %}
	<td>Admin</td>
{% elif user.is_staff %}
	<td>Staff</td>
{% else %}
	<td></td>
{% endif %}

{% if user_id %}
<td><a href="../{{user.id}}">edit</a></td>
{% else %}
<td><a href="{{user.id}}">edit</a></td>
{% endif %}
<td>
{% if user_id %}
	<a href="../../../delete/{{date}}/{{user.id}}" style="color:#f00">
{% else %}
	<a href="../../delete/{{date}}/{{user.id}}" onclick="confirm('Hello');" style="color:#f00">
{% endif %}
          <span class="glyphicon glyphicon-remove"></span> 
    </a>

</td>
</tr>
{% endfor %}
</table>
{% if form.errors %}
	{% for field in form %}
		{% for error in field.errors %}
			<div class="page_title">{{field.id_for_label}} {{error|escape}}</div>
		{% endfor %}	
	{% endfor %}
	{% for error in form.non_field_errors %}
			<strong>{{error|escape}}</strong>
	{% endfor %}	
	
{% endif %}

{% endblock %}